java/integracja/lab3/kalkulator.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kalkulator.ia/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://kalkulator.ia/" name="KalkulatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://kalkulator.ia/" schemaLocation="http://82.145.73.232:1234/kalkulator?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="dodaj">
<part name="parameters" element="tns:dodaj"></part>
</message>
<message name="dodajResponse">
<part name="parameters" element="tns:dodajResponse"></part>
</message>
<message name="odejmij">
<part name="parameters" element="tns:odejmij"></part>
</message>
<message name="odejmijResponse">
<part name="parameters" element="tns:odejmijResponse"></part>
</message>
<message name="pomnoz">
<part name="parameters" element="tns:pomnoz"></part>
</message>
<message name="pomnozResponse">
<part name="parameters" element="tns:pomnozResponse"></part>
</message>
<message name="podziel">
<part name="parameters" element="tns:podziel"></part>
</message>
<message name="podzielResponse">
<part name="parameters" element="tns:podzielResponse"></part>
</message>
<portType name="Kalkulator">
<operation name="dodaj">
<input wsam:Action="http://kalkulator.ia/Kalkulator/dodajRequest" message="tns:dodaj"></input>
<output wsam:Action="http://kalkulator.ia/Kalkulator/dodajResponse" message="tns:dodajResponse"></output>
</operation>
<operation name="odejmij">
<input wsam:Action="http://kalkulator.ia/Kalkulator/odejmijRequest" message="tns:odejmij"></input>
<output wsam:Action="http://kalkulator.ia/Kalkulator/odejmijResponse" message="tns:odejmijResponse"></output>
</operation>
<operation name="pomnoz">
<input wsam:Action="http://kalkulator.ia/Kalkulator/pomnozRequest" message="tns:pomnoz"></input>
<output wsam:Action="http://kalkulator.ia/Kalkulator/pomnozResponse" message="tns:pomnozResponse"></output>
</operation>
<operation name="podziel">
<input wsam:Action="http://kalkulator.ia/Kalkulator/podzielRequest" message="tns:podziel"></input>
<output wsam:Action="http://kalkulator.ia/Kalkulator/podzielResponse" message="tns:podzielResponse"></output>
</operation>
</portType>
<binding name="KalkulatorPortBinding" type="tns:Kalkulator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="dodaj">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="odejmij">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="pomnoz">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="podziel">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="KalkulatorService">
<port name="KalkulatorPort" binding="tns:KalkulatorPortBinding">
<soap:address location="http://82.145.73.232:1234/kalkulator"></soap:address>
</port>
</service>
</definitions>